:root {
    --background-primary: rgb(48, 16, 20);
    --background-secondary: rgb(81, 41, 30);
    --text-normal: #edf4ed;
    --text-accent: rgb(171, 209, 181);
}



body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --background-primary: rgb(48, 16, 20);
    --background-secondary: rgb(81, 41, 30);
    --text-normal: #edf4ed;
    --text-accent: rgb(171, 209, 181);
}
