
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --background-primary: rgb(36, 35, 37) !important;
    --background-secondary: #12100E !important;
    --text-normal: #daf5ff !important;
    --text-accent: #9ce37d !important;
    --text-muted: #87B37A !important;
    --text-faint: #8BAC80 !important;
    --text-accent-hover: #91FD63 !important; 

    --color-accent: #87B37A !important;
}
