
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    --background-primary: #171412 !important; // #242325
    --background-secondary: #12100E !important;
    
    --text-normal: #DDDDDD !important;
    
    --text-accent: #CCF1BC !important;
    --text-muted: #87B37A !important;
    --text-faint: #8BAC80 !important;
    --text-accent-hover: #9ce37d !important; 

    // table

    --table-border-color: #809D7A  !important;
    --table-header-border-color: #5C7557 !important;
    --table-header-background: #5C7557  !important;
    --table-header-background-hover: #5C7557 !important;

    --color-accent: #6B717E !important; // #87B37A
    .callout {
        font-size: 18px !important;
    }
    .callout[data-callout="sys"] {
        --callout-color: 131, 85, 32;
        --callout-icon: lucide-dices;
    }
    .callout[data-callout="gm"] {
        --callout-color: 87, 115, 122;
        --callout-icon: lucide-feather;
    }
    .callout[data-callout="wip"] {
        --callout-color: 160, 131, 175;
        --callout-icon: brain-cog;
} 
    
}
